.r-buttontoolbar {
    background: transparent url( ../../../images/rapidjs/component/tools/toolbar.gif ) repeat-x scroll;
    border-bottom: 1px solid #BFDAFF;
    color: black;
    position: relative;
    height: 22px;
}

.r-buttontoolbar-text {
    color: #083772;
    display: block;
    font-family: tahoma, verdana, helvetica;
    font-size: 11px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    padding: 4px
}

.r-buttontoolbar-tools {
    padding-right: 2px;
    padding-top: 2px;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0px
}

.r-buttontoolbar-button {
    float: right;
}

.r-buttontoolbar-tools .r-button {
    padding: 2px;
}

.r-buttontoolbar-tools .r-button-over {
    background-color: white;
    border: 1px solid #98C0F4;
    padding: 1px;
}

.r-buttontoolbar-tools .r-button-inner {
    height: 16px;
    width: 16px;
}

.r-tool-loading {
    background-image: url( ../../../images/rapidjs/component/tools/loading.gif );
}

.r-tool-refresh {
    background: transparent url( ../../../images/rapidjs/sprite-png.png ) no-repeat scroll 0px 1px;
}

.r-tool-error {
    background: transparent url( ../../../images/rapidjs/sprite-png.png ) no-repeat scroll 0px -20px;
}

.r-tool-setting {
    background: transparent url( ../../../images/rapidjs/sprite-png.png ) no-repeat scroll 0px -100px;
}

.r-tooltip {
    position: absolute;
    color: #333;
    background-color: #FDFFB4;
    font-family: arial, helvetica, verdana, sans-serif;
    padding: 2px;
    border: 1px solid #FCC90D;
    font: 100% sans-serif;
    width: auto;
    z-index: 20000;
}

.r-tooltip-error {
    position: absolute;
    color: #333;
    background-color: #FFD6CF;
    font-family: arial, helvetica, verdana, sans-serif;
    padding: 2px;
    border: 3px solid #A1311F;
    font: 100% sans-serif;
    width: auto;
    z-index: 20000;
}

.r-tooltip-body {

}

.r-errordialog-body {
    display: block;
    padding-top: 5px;
    padding-left: 5px;
}

.r-errordialog-item {
    padding-left: 25px;
    padding-bottom: 15px;
    background: url( ../../../images/rapidjs/component/tools/dark-red-circle.png ) no-repeat 0px 5px;
}

.r-loading-mask-image {
    background: url( ../../../images/rapidjs/component/tools/rel_interstitial_loading.gif ) no-repeat center;
    height: 20px;
}

.r-loading-mask-text {
    font-size: 13px;
    white-space:nowrap;
    font-family: verdana, tahoma, arial;
    padding: 0px 8px;
}