
.rcmdb-search-mask {
    z-index: 20000;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.25;
    opacity: .25;
    filter: alpha(opacity=25);
    background-color: #000000;
    zoom: 1;
}

.rcmdb-search-mask-loadingwrp{
	z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
	border:3px solid #B2D0F7;
	padding:10px;
	font:bold 14px verdana,tahoma,helvetica;
	color:#003366;
	width:150px;
	text-align:center;
	background-color:#ffffff;
}
.rcmdb-search-mask-loading{
	background-image: url(../../../images/rapidjs/component/tools/loading.gif );
	background-repeat: no-repeat;
    background-position:top left;
    padding-left:20px;
	height:18px;
	text-align:left;
	font-size:8pt;
}

.rcmdb-search-row-headermenu {
    background-image: url( ../../../images/rapidjs/component/searchlist/default.png );
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    width: 19px;
    z-index: 1;
    cursor:pointer;
}
.rcmdb-search-exporttool{
   background-image:url(../../../images/rapidjs/component/tools/table_go.png)
}

.rcmdb-search-time-range-selector{
    width: 100%;
    height: 150px;
}
.rcmdb-search-sub-component{

}
.rcmdb-search-rowselected {
    background-color: #DDDDFF !important;
    color: black !important;
}