.rapid-crud-wrap {
	width: 100%;
	height: 100%;
	border: 1px solid #6593CF;
	overflow: hidden;
}

.rapid-crud-header {
	width: 100%;
	position: relative;
	top: 0px;
	background-color: #EBEADB;
	overflow: hidden;
	height: 22px;
	z-index: 12;
	border-bottom: 2px solid #cbc7b8;
}

.rapid-crud-headerlabel {
	padding:4px;	
}

.rapid-crud-body {
	width: 100%;
	top: 22px;
	overflow: auto;
}

.rapid-crud-footer {
	height: 30px;
	width: 100%;
}

.rapid-crud-btnPos {
	
}

.rapid-crud-row {
	height: 22px;
	display: block;
	position: relative;
}

.rapid-crud-rowselected {
	background-color: #ddddff;
}

.rapid-crud-label {
	display:block;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	padding:4px;
}

.rapid-crud-update {
	background-image: url('../images/layout/pencil.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 18px;
	height: 18px;
	cursor:pointer;
	float:right;
	padding:2px;
	z-index:6;
}

.rapid-crud-delete {
	background-image: url('../images/layout/cross.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 18px;
	height: 18px;
	cursor:pointer;
	float:right;
	padding:2px;
	z-index:6;
}

.rapid-crud-tools {
	padding-right: 2px;
	position: absolute;
	right: 0px;
	text-align: right;
	top: 0px;
	width: 100%;
}

.rapid-crudwindow-buttons{
	width: 100%;
	height: 40px;
}
.rapid-crudwindow-buttonspos{
	height: 100%;
	position: relative;
	top: 6px;
	left: 30px;
}
.rapid-crudwindow-btnwrp{
	padding: 2px;
}