.r-filter-wrp{
	position:relative;
	width:100%;
	height:100%;
	left:0;
	top:0;
	overflow:hidden;
}

.r-filter-header{
	overflow: hidden;
	background-color: #D8E7FB;
	border: 1px solid #cbc7b8;
	display: block;
	padding:2px;
}

.r-filter-bodywrp{
	overflow: auto;
}
.r-filter-body{
	overflow: hidden;
}

.r-filter-body .selected{
	background-image: url('../images/layout/post-bg.gif');
	border:1px solid #c3daf9;
}
.r-filter-filter{
	height: 22px;
	display: block;
	position: relative;
	outline-color: invert;
	outline-width: medium;
	color: #2D5593;
	background-repeat: repeat-x;
	padding-left: 5px; 
	border:1px solid #c3daf9;
	white-space: nowrap;
}
.r-filter-filterover{
	background-color:#ddecfe;
}

.r-filter-filterlbl{
	display:block;
	padding:4px;
	white-space: nowrap;
	overflow: hidden;
}

.r-filter-filtertools{
	padding-right: 2px;
	position: absolute;
	right: 0px;
	text-align: right;
	top: 0px;
	width: 100%;
}

.r-filter-filterupdate{
	background-image: url('../images/layout/pencil.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 18px;
	height: 18px;
	cursor:pointer;
	float:right;
	padding:2px;
	z-index:6;
}
.r-filter-filterremove{
	background-image: url('../images/layout/cross.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 18px;
	height: 18px;
	cursor:pointer;
	float:right;
	padding:2px;
	z-index:6;
}

.r-filter-buttonover{
    padding:1px;
    border:1px solid #98c0f4;
    background-color:white;
}


.r-filter-addbutton{
	width: auto;
	background-image: url(../images/filterTool/filter.png);
	background-position:0px;
	padding-left: 18px;
}

.r-filter-dlgwrp{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}
.r-filter-formtext{
	display: block;
	width: 100px;
}
.r-filter-inputwrp{
	display:block;
	width: 300px;
}
.r-filter-dlg-expwrp{
	width: 300px;
	height: 150px;
}
.r-filter-textarea{
	width: 100%;
	height: 98%;
}
.r-filter-input{
	height: 100%;
	width: 100%;
}