.IFountainRapidSuite
{
font-weight: bold;
font-family: franklin gothic medium;
color: #FFFFFF;
font-size: 18px;
height:40px;
white-space: nowrap;
padding-bottom:0px;
}
.header-wrap{
	background: url(../images/loginbackground.png) repeat-x 0px -20px;
	width:100%;	
	display:block;
}

.MainTab
{
	background: url('../images/bg3.gif') repeat scroll;
}

a.whitelink
{
font-family: sans-serif;
text-decoration : none;
color: #FFFFFF;
font-size: 13px;
font-weight: bold;
text-align: right;
}
		
a.whitelink:hover
{
font-family: sans-serif;
text-decoration : none;
color: #424973;
font-size: 13px;
font-weight: bold;
}

a.whitelink:visited
{
font-family: sans-serif;
text-decoration : none;
color: #FFFFFF;
font-size: 13px;
font-weight: bold;
}

.whitetext
{
font-family: sans-serif;
text-decoration : none;
color: #FFFFFF;
font-size: 13px;
font-weight: bold;
}

.bluetext
{
font-family: sans-serif;
text-decoration : none;
color: #424973;
font-size: 13px;
font-weight: bold;
}
