.riadmin-users-tabicon{
	line-height: 1px;
	font-size:1px;
	background-image:url(../images/layout/user.png);
	background-repeat: no-repeat;
	display:block;
	position:absolute;
	right:6px;top:2px;
	width:16px;height:16px;
}

.riadmin-con-tabicon{
	line-height: 1px;
	font-size:1px;
	background-image:url(../images/layout/connect.png);
	background-repeat: no-repeat;
	display:block;
	position:absolute;
	right:6px;top:2px;
	width:16px;height:16px;
}
.riadmin-groups-tabicon{
	line-height: 1px;
	font-size:1px;
	background-image:url(../images/layout/group.png);
	background-repeat: no-repeat;
	display:block;
	position:absolute;
	right:6px;top:2px;
	width:16px;height:16px;
}
.riadmin-filters-tabicon{
	line-height: 1px;
	font-size:1px;
	background-image:url(../images/filterTool/filter.png);
	background-repeat: no-repeat;
	display:block;
	position:absolute;
	right:6px;top:2px;
	width:16px;height:16px;
}
.riadmin-data-tabicon{
	line-height: 1px;
	font-size:1px;
	background-image:url(../images/layout/datasource.png);
	background-repeat: no-repeat;
	display:block;
	position:absolute;
	right:6px;top:2px;
	width:16px;height:16px;
}
.riadmin-script-tabicon{
	line-height: 1px;
	font-size:1px;
	background-image:url(../images/layout/script.png);
	background-repeat: no-repeat;
	display:block;
	position:absolute;
	right:6px;top:2px;
	width:16px;height:16px;
}

.riadmin-formtext{
	display:block;
	width: 150px;
}
.riadmin-intext{
	display:block;
	width: 150px;
	text-indent: 10px;
}
.riadmin-textarealbl{
	height: 100%;
	display:block;
	width: 150px;
}
.riadmin-inputwrp{	
	height: 22px;
}
.riadmin-input{
	height: 100%;
	width: 200px;
}

.riadmin-checkbox{
	height: 100%;
}
.riadmin-combobox{
	height: 100%;
	width: 200px;
	height: 20px;
}
.riadmin-select{
	overflow:auto;
	width:200px;
}
.riadmin-selectwrp{
}
.riadmin-dlg-buttonswrp{
}
.riadmin-dlg-bwrap{
}

.riadmin-groups-buttons{
	top:10px;
	left: 40px;
	position: relative;
}

.riadmin-groups-detailwr{
	padding-top: 10px;
	padding-left: 20px;
}
.riadmin-groups-userwr{
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.riadmin-grpdlg-filterwr{
	width: 280px;
	height: 100px;
}

.riadmin-option:active
{
	background-color: #ddddff;
}

.riadmin-option:focus
{
	background-color: #ddddff;
}


.riadmin-segExp-wrap
{
	overflow : hidden;
	text-align:5px;
	padding-left:5px;
	padding-top:3px;
	display:block;
	height: 100px;
	width: 450px;
}

.riadmin-filter-table{
	padding-top: 10px;	
}
.riadmin-fexp-wrap
{
	overflow : hidden;
	padding-left:2px;
	padding-top:2px;
	display:block;
	height: 100px;
	width: 450px;
}

.riadmin-fexp-text{
	width: 100%;
	height: 98%;
	overflow: auto;
}
.riadmin-fname-input{

}
.riadmin-fname-inputwrap{
	padding-left:2px;
	padding-top:2px;
}

.riadmin-fexp-label{
	height: 100%;
	padding-top: 2px;
	padding-left: 2px;
}

.riadmin-fname-label{
	height: 100%;
	padding-top: 2px;
	padding-left: 2px;
}

.riadmin-userdlg-detailwr{
	padding-top: 10px;
	padding-left: 20px;
}
.riadmin-userdlg-groupwr{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.riadmin-conn-btnpos{
	height: 100%;
	position: relative;
	top: 3px;
	left: 30px;
}
.riadmin-conn-btnswrp{
	padding: 3px;
}

.riadmin-conndlg-detailwr{
	padding-left: 20px;
	padding-top: 10px;
}

.riadmin-conndlg-shedwrp{
	padding-left: 20px;
	}
.riadmin-conndlg-conwrp{
	padding-left: 20px;
	}
	
.riadmin-datadlg-namewr{
	padding-left: 20px;
	padding-top: 10px;
}
.riadmin-datadlg-icwr{
	padding-left: 20px;
	padding-bottom: 10px;
}
.riadmin-datadlg-dbwr{
	padding-left: 20px;
	padding-bottom: 10px;
}
.riadmin-datadlg-riwr{
	padding-left: 20px;
	padding-bottom: 10px;
}
.riadmin-scriptdlg-wr{
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}


.riadmin-conn-newdb{
	width: auto;
	background-image: url(../images/layout/database_connect.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-conn-newfile{
	width: auto;
	background-image: url(../images/layout/page_red.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-conn-newntf{
	width: auto;
	background-image: url(../images/layout/exclamation.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-conn-newtopo{
	width: auto;
	background-image: url(../images/layout/chart_organisation.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-conn-newNetcool{
	width: auto;
	background-image: url(../images/layout/netcool_connector.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-filter-add{
	width: auto;
	background-image: url(../images/filterTool/filter.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-group-add{
	width: auto;
	background-image: url(../images/layout/group.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-user-add{
	width: auto;
	background-image: url(../images/layout/user.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-data-newdb{
	width: auto;
	background-image: url(../images/layout/database.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-data-newic{
	width: auto;
	background-image: url(../images/layout/chart_organisation.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-script-add{
	width: auto;
	background-image: url(../images/layout/script.png);
	background-position:0px;
	padding-left: 18px;
}
.riadmin-conndlg-advcollapsed{
	background-image: url(../images/layout/AdvancedOptions.png);
	background-position: center;
	background-repeat: no-repeat;
}
.riadmin-actioncollapsed{
	background-image: url(../images/layout/Actions.png);
	background-position: center;
	background-repeat: no-repeat;
}