<plugin name='netcool' version='0.2'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>Brief description of the plugin.
</description>
  <documentation>http://grails.org/Netcool+Plugin</documentation>
  <resources>
    <resource>StartupScriptsConfig</resource>
    <resource>connection.NetcoolConnectionController</resource>
    <resource>search.SearchController</resource>
    <resource>search.SearchQueryController</resource>
    <resource>search.SearchQueryGroupController</resource>
    <resource>connector.NetcoolLastRecordIdentifier</resource>
    <resource>search.SearchQuery</resource>
    <resource>search.SearchQueryGroup</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>connection.NetcoolConnectionController</resource>
    <resource>datasource.NetcoolColumnController</resource>
    <resource>datasource.NetcoolConversionParameterController</resource>
    <resource>datasource.NetcoolDatasourceController</resource>
    <resource>connection.NetcoolConnection</resource>
    <resource>datasource.NetcoolColumn</resource>
    <resource>datasource.NetcoolConversionParameter</resource>
    <resource>datasource.NetcoolDatasource</resource>
    <resource>NetcoolEvent</resource>
    <resource>NetcoolJournal</resource>
  </resources>
</plugin>