.r-designer-property-toolbar {
    padding: 5 200 5 10;
    background: transparent url( ../../../images/rapidjs/component/tools/toolbar.gif ) repeat-x scroll;
    border-top: 1px solid #8EAACF;
}

.r-designer-property-delete {
    display: block;
    background: url( ../../../images/rapidjs/component/tools/cross.png ) no-repeat;
    overflow: hidden;
    padding-left: 20px;
    color: #222222;
    display: block;
    line-height: 16px;
    outline-color: invert;
    outline-style: none;
    outline-width: 0pt;
    font-style: normal;
    font-size: 11px;
}

.r-designer-tools {
    padding-right: 2px;
    padding-top: 2px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.r-designer-tools .wrp {
    padding: 0px 2px;
}

.r-designer-tools .wrp .r-button-inner{
    color:#083772;
    font-size:13px;
    font-weight:bold;
}

.r-designer-tools .r-button {
    padding: 2px;
}

.r-designer-tools .r-button-over {
    background-color: white;
    border: 1px solid #98C0F4;
    padding: 1px;
}

.r-designer-saveButton {
    background: transparent url( ../../../images/rapidjs/component/tools/save.gif ) no-repeat scroll 0% 50%;
    padding-left: 20px;
    height: 16px;
}

.r-designer-generateButton {
    background: transparent url( ../../../images/rapidjs/designer/printer.png ) no-repeat scroll 0% 50%;
    padding-left: 20px;
    height: 16px;
}

.r-buttontoolbar-tools .r-buttontoolbar-button {
    display: none;
}

.yui-skin-sam .yui-tt .bd {
    background-color: #9FC9FF;
    border-color: #2F6EBF;
}


.r-designer-layout-top {
    height: 100%;
    padding: 3px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #083772;
    background: transparent url( ../../../images/rapidjs/component/tools/toolbar.gif ) repeat-x scroll;
}

.r-designer .yui-layout .yui-layout-unit div.yui-layout-hd h2 {
    color: #083772;
    font-size: 13px;
}

.r-designer .yui-layout .yui-layout-hd {
    background: transparent url( ../../../js/yui/assets/skins/sam/sprite.png ) repeat-x scroll 0pt -1300px;
    border: none;
}

.r-designer textarea {
    font-size: 14px;
    font-family: verdana;
}

.r-designer-help{
   background: transparent url( ../../../images/rapidjs/designer/help.jpg) no-repeat scroll;
   padding: 40px;
}