.r-tree {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
}

.r-tree-header {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 22px;
    z-index: 12;
    background-color: #ebeadb;
    border-bottom: 2px solid #cbc7b8;
}

.r-tree-headertable {
    left: 0;
    top: 0;
    background-color: #ebeadb;
    border-spacing: 0;
}

.r-tree-headerrow {
    height: 22px;
}

.r-tree-headercell {
    height: 22px;
}

.r-tree-headercell-on {
    background-color: #faf9f4;
}

.r-tree-hdcellpos {
    display: block;
    overflow: hidden;
    padding-left: 2px;
    padding-top: 2px;
    height: 22px;
    float: left;
    position: relative;
    white-space: nowrap;
}

.r-tree-headercell .sort-asc {
    background-image: url( ../../../images/rapidjs/component/treegrid/sort_asc.gif );
    background-position: right;
    background-repeat: no-repeat;
    display: none;
    height: 14px;
    width: 16px;
}

.r-tree-headercell .sort-desc {
    background-image: url( ../../../images/rapidjs/component/treegrid/sort_desc.gif );
    background-position: right;
    background-repeat: no-repeat;
    display: none;
    height: 14px;
    width: 16px;
}

.r-tree-headersplit {
    display: block;
    background-image: url( ../../../images/rapidjs/component/treegrid/grid-split.gif );
    background-repeat: no-repeat;
    background-position: center right;
    width: 6px;
    position: relative;
    height: 22px;
    float: right;
    z-index: 1200;
}

.r-tree-column-sizer {
    width: 1px;
    border-right: 1px dashed #6593cf;
    background: none;
    cursor: col-resize;
}

.r-tree-body {
    position: relative;
    width: 100%;
    overflow: auto;
    height: 100%;
}

.r-tree-rowselected {
    background-color: #ddddff !important;
}

.r-tree-treerow {
    height: 25px;
}

.r-tree-row-headermenu {
    background: transparent url( ../../../images/rapidjs/sprite-png.png ) no-repeat scroll -1px -175px;
    cursor: pointer;
    height: 15px;
    overflow: hidden;
    width: 15px;
    z-index: 1;
}

.r-tree-rootimage {
    width: 20px;
    height: 20px;
}

.r-tree-firstcell {
    white-space: nowrap;
}

.r-tree-treecell {
    border-width: 0;
    white-space: nowrap;
}

.r-tree-treecell-content {
    white-space: nowrap;
    overflow: hidden;
}

.r-tree-treecell-imagecontent {
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100%;
}

.r-tree-treerowicon-expanded {
    background: url( ../../../images/rapidjs/component/treegrid/expanded.gif );
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.r-tree-treerowicon-collapsed {
    background: url( ../../../images/rapidjs/component/treegrid/collapsed.gif );
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.critical {
    background: url( ../../../images/rapidjs/component/states/red.png );
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
}

.major {
    background: url( ../../../images/rapidjs/component/states/orange.png );
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
}

.minor {
    background: url( ../../../images/rapidjs/component/states/yellow.png );
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
}

.unknown {
    background: url( ../../../images/rapidjs/component/states/blue.png );
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
}

.normal {
    background: url( ../../../images/rapidjs/component/states/green.png );
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
}
