.admin h1 {
    color: #233D5F;
}

.admin .nav {
    background: transparent url( js/yui/assets/skins/sam/sprite.png ) repeat-x scroll 0pt -1300px;
    border-color: #BFDAFF;
}

.admin th {
    background: transparent url( js/yui/assets/skins/sam/sprite.png ) repeat-x scroll 0pt -1300px;
    color: #2647A0;
}

.admin .list th, .admin .list td {
    border-left: 1px solid #BFDAFF;
}

.admin table {
    border: 1px solid #A8B9CF;
    width:100%;
}

.admin .list tr:hover, .admin .list tr:focus {
    background: #B3B9BF;
}

.admin .list th:hover, .admin .list th:focus {
    background: #B3B9BF url( js/yui/assets/skins/sam/sprite.png ) repeat-x scroll 0pt -100px;
}

.admin th a:link, .admin th a:visited, .admin th a:hover, .admin th a:focus{
    color: #2647A0;
}

.admin a.start {
    background: transparent url( images/skin/control_forward_blue.gif ) no-repeat scroll 5px 50%;
    padding-left: 28px;
}
.admin a.stop {
    background: transparent url( images/skin/stop.png ) no-repeat scroll 5px 50%;
    padding-left: 28px;
}
.admin .paginateButtons{
   background: transparent url( js/yui/assets/skins/sam/sprite.png ) repeat-x scroll 0pt -1300px;
   border-color: #BFDAFF;
}
.admin .buttons{
   background: transparent url( js/yui/assets/skins/sam/sprite.png ) repeat-x scroll 0pt -1300px;
     border-color: #BFDAFF;
}
.admin .body{
	float:none;
}
.admin div.list{
	overflow: hidden;
	width:100%;
}
.admin .body form{
	overflow: hidden;
	width:100%;
}
.admin .body .buttons form{
	width:auto;
}
.admin .body .dialog{
	overflow: hidden;
	width:100%;
}