.r-filterTree-groupAdd {
    background: transparent url( images/rapidjs/sprite-png.png ) no-repeat scroll 0pt -79px;
}

.r-mapTree-mapAdd {
    background: transparent url( images/rapidjs/component/tools/map_add.png ) no-repeat scroll center;
}

.r-filterTree-queryAdd {
    background: transparent url( images/rapidjs/sprite-png.png ) no-repeat scroll 0pt -59px;
}

.r-tree-firstCell {
    cursor: pointer;
}

.dragging, .drag-hint {
    border: 1px solid gray;
    background-color: blue;
    color: white;
    opacity: 0.76;
    filter: "alpha(opacity=76)";
}

.ri-object-details td {
    padding: 0.1em 0.5em;
    vertical-align: top;
}

.ri-object-details .even td {
    background: #DBEAFF;
}

.ri-object-details .odd td {
    background: #EDF5FF;
}

.event-details-severity {
    width: 18px;
    height: 18px;
}

.event-details-severity-critical {
    background: transparent url( images/rapidjs/sprite-png.png ) no-repeat scroll 0px -200px;
}

.event-details-severity-major {
    background: transparent url( images/rapidjs/sprite-png.png ) no-repeat scroll 0px -220px;
}

.event-details-severity-normal {
    background: transparent url( images/rapidjs/sprite-png.png ) no-repeat scroll 0px -240px;
}

.event-details-severity-warning {
    background: transparent url( images/rapidjs/sprite-png.png ) no-repeat scroll 0px -260px;
}

.event-details-severity-minor {
    background: transparent url( images/rapidjs/sprite-png.png ) no-repeat scroll 0px -280px;
}

.event-details-severity-unknown {
    background: transparent url( images/rapidjs/sprite-png.png ) no-repeat scroll 0px -300px;
}

.event-details-severity-invalid {
    background: transparent url( images/rapidjs/sprite-png.png ) no-repeat scroll 0px -320px;
}

.ri-report-zoom-link {
    color: blue;
    text-decoration: underline;
    padding: 2px;
    cursor: pointer;
}

.ri-report-redraw-link {
    color: blue;
    text-decoration: underline;
    padding: 2px;
    cursor: pointer;
}

.ri-report-next-range {
    width: 16px;
    height: 16px;
    background: transparent url( images/rapidjs/component/tools/page-next.gif ) no-repeat center;
    cursor: pointer;
    margin-left: 5px;
}

.ri-report-previous-range {
    width: 16px;
    height: 16px;
    background: transparent url( images/rapidjs/component/tools/page-prev.gif ) no-repeat center;
    cursor: pointer;
    margin-right: 5px;
}

.ri-field-error {
    color: #9F9F9F;
    font-style: italic;
}

.ri-objectdetails-expand {
    border: 1px solid #CFB39B;
    color: #666666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    background: transparent url( js/yui/assets/skins/sam/sprite.png ) repeat-x scroll 0 -1300px;
    border-color: #BFDAFF;
    cursor: pointer;
    width: 80px;
}


