<plugin name='rapid-ui' version='0.1'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>Brief description of the plugin.
</description>
  <documentation>http://grails.org/RapidUI+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>ChartsTagLib</resource>
    <resource>RapidUITagLib</resource>
  </resources>
</plugin>