body, div.filterTab .count, #resultsViewControls .selected {
    color: #333333;
}

body {
    background-color: #FFFFFF;
}

html, body {
    margin: 0pt;
    padding: 0pt;
}

body {
    font-size: 0.71em;
}

body {
    background-color: #FFFFFF;
}

body, select, p, td, th, ul, ol, li, input, textarea, select, blockquote, pre, .label, #eventCount, #bucketDate, #currentFilter, #savedSearchName {
    font-family: Arial, Helvetica, sans-serif;
}

div, #header,.results,.result {
    border-color: #DDDDDD;
}

a {
    color:	#AF670A;
    font-weight:bold;
    text-decoration:none;
}