.rapid-context-menu{
	position: absolute;
	display: block;
	z-index: 20000;	
	border-left:1px solid #D4D0C8; 
	border-top: 1px solid #D4D0C8; 
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
}
.rapid-errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
.rapid-context-menu-table{
	background-color: #ffffff
}
.rapid-context-menu-item-selected{
	height: 20px;
	background-color: #ddddff;	
	color: black;
}

.rapid-context-menu-item-unselected{
	height: 20px;
	background-color: #FFFFFF;	
	
}
.rapid-context-menu-text{
	text-align: justify;
	font-family: Arial, Tahoma, Verdana, Helvetica;
	font-size: 11px;
	line-height: 20px;
	text-indent: 30px;
	padding-right: 20px;
	height: 20px;
}

.rapid-submenu-arrow{
	background-image: url( '../images/menuarorght8_nrm_1.gif' );
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width : 20px;
	background-color: inherit;
}

.rapid-textarea
{
	width: 100%;
	height: 98%;
	overflow: auto;
}
.rapid-btnwrp{
	background-color: #D8E7FB;
	border: 1px solid #cbc7b8;
	display: block;
	padding:2px;
}

.ri-comp-conf-formelement{
	padding-left:5px;
	padding-top:10px;
}

.ri-comp-conf-input-small{
	width: 60px; 
}

.ri-comp-conf-input-large{

}
.rapid-formtext{
	display:block;
	width: 150px;
}
.rapid-inputwrp{	
	height: 22px;
}
.rapid-input{
	height: 100%;
	width: 200px;
}
.rapid-checkbox{
	height: 100%;
}
.rapid-userdlg-detailwrp{
	padding-top: 10px;
	padding-left: 20px;
}
.rapid-logout-wrp{
}
.rapid-usertool-wrp{
	text-align: right;
	font-size: 13px;
	font-family: sans-serif;
	color: #7C5034;
	cursor: pointer;
	font-weight: bold; 
}
.rapid-usertool-visited{
	color: #424973;
}

.r-tooltip{
	position:absolute;
	color:#333;
	background-color:#FDFFB4;
	font-family:arial,helvetica,verdana,sans-serif;
	padding:2px;
	border:1px solid #FCC90D;
	font:100% sans-serif;
	width:auto;
	z-index: 20000;	
}
.r-tooltip-body{
	
}
td,textarea,input,div,span,a,a:visited,a:hover,a:active,select{
	font-family: Arial, Tahoma, Verdana, Helvetica;
	font-size: 11px;
}

a,a:visited,a:hover,a:active {
	color:black;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}