.resizable-panel {
}
.resizable-panel-header {
}

.resizable-panel-body {
    overflow:scroll;
    overflow-x:auto;
    overflow-y:auto;
    background-color:#fff;
}

.resizable-panel-footer {
   border-top:medium none;
   text-align:right;
}

.resizable-panel .yui-resize-handle-br {
    right:0;
    bottom:0;
    height: 8px;
    width: 8px;
    position:absolute;
}
.yui-panel-container .component{
    overflow: visible !important;
}