.yui-skin-sam .yui-layout .yui-resize-proxy div{
	background-color:#C3DAF9;
}
.yui-skin-sam .yui-layout-unit .yui-resize-handle-r .yui-layout-resize-knob{
	background-image : none;}
.yui-skin-sam .yui-layout-unit .yui-resize-handle-t .yui-layout-resize-knob{
	background-image : none;
}