.yui-skin-sam .yui-resize .yui-resize-handle{background-color:inherit;}
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd{background-color:#ffffff;}
.yui-skin-sam .yui-panel .hd{font-size:100%;color:#ffffff;background:url(../../js/yui/assets/skins/sam/sprite.png) repeat-x 0 -1400px;height:25px}
.yui-skin-sam .yui-panel .ft{border-top:none;}
.yui-skin-sam .yui-panel .hd{
	overflow: hidden;
	white-space:nowrap;
}

.yui-layout-unit div.yui-layout-hd h2{
    padding: 0;
}